:root {
  --light-grey: #818181;
  --grey: #1B1B1D;
  --dark-grey: #282A36;
  --orange: #D36737;
  --blue: #3271A1;
  --yellow: #EEB64F;
  --white: #EBEDF0;

  --large-under-section-margin: 5rem;
  --small-under-section-margin: 1rem;
  --content-border-radius: .4rem;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--grey);
  display: flex;
  justify-content: center;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","CourierNew",monospace;
  color: var(--white);
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

h1 {
  margin: 4rem auto;
}

.large-bottom-separation {
  margin-bottom: var(--large-under-section-margin);
}

.small-bottom-separation {
  margin-bottom: var(--small-under-section-margin);
}

.round-border {
  border-radius: var(--content-border-radius);
}

.nickname-input {
  background-color: var(--dark-grey);
  border: .2px solid var(--light-grey);
  height: 1.3rem;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
}

.nickname-input:focus {
  outline: none;
  border: 2px solid var(--orange);
  box-shadow: 0 0 4px var(--orange);
}

.prompt-container {
  display: grid;
  grid-template: 350px 60px / repeat(2, 1fr);
  grid-gap: 1rem;
}

.title {
  width: fit-content;
}

.content {
  resize: none;
  background-color: var(--dark-grey);
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  width:  100%;
  height: 300px;
}

.content:focus {
  outline: none;
  border: 2px solid var(--orange);
  box-shadow: 0 0 4px var(--orange);
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

#submit-btn {
  font-size: 1.5rem;
  border-radius: .4rem;
  padding: .5rem 2.6rem;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
  transition-duration: .1s;
}

#submit-btn:enabled {
  color: var(--orange);
  border: 1px solid var(--orange);
}


#submit-btn:hover:enabled {
  background-color: var(--orange);
  color: black;
  cursor: pointer;
}

.invisible {
  display: none;
}

#instructions-title {
  width: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .prompt-container {
    display: grid;
    grid-template: repeat(2, 350px) 30px 60px / 1fr;
    /* grid-template-rows: ; */
    grid-gap: 1rem;
    margin-bottom: 5rem;
  }
}


/* PROMPTS DISPLAY */
#prompts-title {
  cursor: pointer;
}

.sample-subtitle {
  margin: .5rem .2rem;
}

.prompts-counter {
  font-size: 1.2rem;
  font-weight: bold;
}

.prompts-nickname-sample {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

.sample-container {
  margin: 1rem 0;
  background-color: var(--dark-grey);
  border-radius: 0.4rem;
  padding: 1rem;
}

.sample-nickname {}

.sample-question {}

.sample-answer-container {
  overflow-x: auto;
}

.sample-answer {
  white-space: nowrap;
}


.prompts-nickname-sample:nth-child(1) {
  color: var(--yellow);
  font-weight: bold;
}

.sample-question-container, .sample-answer-container {
  padding: 0.5rem;
  background-color: var(--grey);
  border-radius: 0.4rem;
}

.sample-question-container {
  margin-bottom: 1rem;
}



